.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #524948;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label {
  font-family: "New Tegomin", serif;
  font-weight: 900;
}

.Nav {
  padding: 200px;
  display: flex;
  justify-content: space-between;
  background-image: url("https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1583769572/DCUK/Content/iStock-669911398-2048x1368.jpg");
  background-color: #e6e8e6;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

button {
  background-color: #98dfaf;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit-button {
  background-color: #deefb7;
  border: none;
  color: #161925;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

.tattoo-grid {
  position: relative;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.tattoo-card a {
  display: block;
}

.tattoo-card img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 7px 10px 41px -11px rgba(0, 0, 0, 0.56);
  margin-bottom: 20px;
}

.tattoo-details h2 {
  font-family: "Cedarville Cursive", cursive;
}
.tattoo-details img {
  width: 300px;
  max-height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tattoo-details p {
  margin-left: 30%;
  margin-right: 30%;
  font-family: "New Tegomin", serif;
  font-weight: 900;
}

.tattoo-details {
  padding-bottom: 200px;
}

.title-form {
  border-radius: 10px;
  text-align: center;
}

.url-form {
  border-radius: 10px;
  text-align: center;
}

.story-from {
  border-radius: 10px;
}
.form-container form {
  margin: 40px 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container textarea {
  resize: none;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #98dfaf;
}

@media only screen and (max-width: 600px) {
  .Nav {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e6e8e6;
  }

  .tattoo-grid {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
  }
  .footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #98dfaf;
  }
}
